/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    모든 브라우저 기본 CSS형식 리셋!
*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
 }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr{
    border-bottom: 0px;
    border: 1px solid gray;
}
a{
    color: black;
    text-decoration: none;
}
.bg_Video{
    display: none;
}
.bg_Mobile{
    display: block;
    position:fixed;
    width: 100%;
    height:100%;
    opacity: 0.8;
}
.bg_Mobile img{
    width: 100%;
    height:100%;
}
.bg_Mask{
    position:fixed;
    width:100%;
    height:100%;
    z-index: 98;
    opacity: 0.6;
    background: #015756;
    background:-webkit-linear-gradient(left,#0d1150,#015756);
    background:-o-linear-gradient(left,#0d1150,#015756);
    background: -moz-linear-gradient(left,#0d1150,#015756);
    background: linear-gradient(left,#0d1150,#015756);
}
.bg_Dot{
    position: fixed;
    background-image: url(../img/dot.png);
    width:100%;
    height:100%;
    z-index: 99;
}
#page_Header{
    width: 100%;
    height: 33%;
    padding-top: 3%;
}
.logo_5tardium{
    position:relative;
    z-index: 99;
    display: block;
    margin: 0 auto;
}
.logo_5tardium img{
    max-width: 100%;
    height: auto;
}
.logo_Bepc{
    display: none;
    position: absolute;
    margin-left: 3%;
    margin-top: 1%;
    z-index: 99;
}
.logo_Sns{
    display: none;
    right: 0;
    width: 8%;
    margin-top: 1%;
    position: absolute;
    z-index: 99;
}
.logo_Sns i{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}
#page_Main{
    padding-top: 10%;
    position: relative;
    z-index: 99;
    width: 100%;
    height:500px;
}
.main_Content{
    position:relative;
    left: 0;
    width:100%;
    height: 100%;
    text-align:center;
    overflow: hidden;
}
.main_Content li{
    left: 25%;
    width:355px;
    height: 130px;
    color: white;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    opacity: 0.5;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
.ct_Ticket{
 padding-right:230px;
}
.ct_Lounge{
  padding-right:230px;
}
.ct_Contact{
  padding-right:230px;
}
.main_Content li:hover{
    opacity: 1;
}

#tickets_Modal{
    display:none;
    margin-left: 3%;
    position:absolute;
    top:18%;
    left:24%;
    box-sizing: border-box;
    width: 900px;
    height:auto;
    border:2px solid #00FFCC;
    z-index: 99;
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
   -webkit-animation-name: zoom;
    -webkit-animation-duration:0.6s;
    animation-name:zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom{
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
#tickets_Modal h2{
    width: 93%;
    margin-top: 2%;
    margin-left: 30px;
    margin-right: 2%;
    padding-bottom: 1%;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid gray;
}
.tickets_Content{
    box-sizing: border-box;
    width: 100%;
    height:100%;
}
.tickets_Content li{
    float:left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 10px;
    padding-left:  30px;
}
.tickets_Content img{
    width: 106px;
    height: 106px;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    margin:0.5%;
    cursor: pointer;
}
#lounge_Modal{
    overflow: scroll;
    display: none;
    margin-left: 3%;
    position:absolute;
    top: 0;
    left:30px;
    box-sizing: border-box;
    width:300px;
    height:300px;
    border:2px solid #00FFCC;
    z-index: 99;
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
   -webkit-animation-name: zoom;
    -webkit-animation-duration:0.6s;
    animation-name:zoom;
    animation-duration: 0.6s;
}
#lounge_Modal .logo{
    max-width: 100%;
    width:60%;
    display: block;
    margin: 0 auto;
}
#lounge_Modal h2{
    color: #006600;
    width:90%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.policy_Wrap{
    display: none;
    position: relative;
    border: 2px solid #006600; 
    width: 90%;
    height:260px;
    margin: 0 auto;
    color: gray;
}
.mobile_Policy{
    display: block;
    border: 2px solid #006600;
}
.mobile_Policy li{
    color: white;
    margin-bottom: 10px;
}
.mobile_Policy p{
    color: gray;
}
.policy_Left{
    width: 30%;
    height: auto;
    font-size: 12px;
}
.margin{
    margin: 18px;
}
.margin1{
    margin-left: 18px;
    margin-top: 25px;
    margin-bottom: 39px;
}
.policy_Right{
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: auto;
    font-size: 12px;
}
.policy_Right li{
    margin: 16px;
}
.lounge_Wrap{
    width: 90%;
    height: auto;
    background-color: black;
    border: 2px solid gray;
    margin: 10px auto;
}
.lounge_Name{
    border:none;
    padding-right: 5%;
    background-color: black;
    color: white;
    width: 90%;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.lounge_Phone{
    border:none;
    padding-right: 5%;
    background-color: black;
    color: white;
    width: 90%;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.lounge_Comment{
    border:none;
    padding-right: 5%;
    background-color: black;
    color: white;
    width: 90%;
    height: 110px;
    display: block;
    margin: 0 auto;
}
.lounge_Submit{
    border:none;
    background-color: black;
    color:#00FF00;
    width: 90%;
    height: 60px;
    display: block;
    font-size: 30px;
    margin: 0 auto;
    cursor: pointer;
}
.lounge_Button_wrap{
    width: 90%;
    height: auto;
    background-color: black;
    border: 2px solid #00FF00;
    margin: 10px auto;
}
#contact_Modal{
    display:none;
    margin-left: 3%;
    position:absolute;
    top:18%;
    left: 16%;
    box-sizing: border-box;
    width: 61%;
    height:auto;
    border:2px solid #00FFCC;
    z-index: 99;
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
   -webkit-animation-name: zoom;
    -webkit-animation-duration:0.6s;
    animation-name:zoom;
    animation-duration: 0.6s;
}
#contact_Modal h2{
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2%;
    padding-bottom: 1%;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid gray;
}
.contact_Wrap{
    width: 90%;
    height: auto;
    background-color: black;
    border: 2px solid gray;
    margin: 10px auto;
}
.contact_Name{
    border:none;
    padding-right: 5%;
    background-color: black;
    color: white;
    width: 90%;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.contact_Email{
    border:none;
    padding-right: 5%;
    background-color: black;
    color: white;
    width: 90%;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.contact_Phone{
    border:none;
    padding-right: 5%;
    background-color: black;
    color: white;
    width: 90%;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.contact_Comment{
    border:none;
    padding-right: 5%;
    background-color: black;
    color: white;
    width: 90%;
    height: 110px;
    display: block;
    margin: 0 auto;
}
.contact_Submit{
    border: none;
    background-color:#050504;
    color:#00FFCC;
    width: 10%;
    height: 60px;
    display: block;
    font-size: 15px;
    text-align: center;
    float: right;
    cursor: pointer;
}
#page_Footer{
    position:relative;
    bottom: 0;
    width: 100%;
    height:20%;
    z-index: 98;
    color:white;
    font-weight: bold;
}
#page_Footer h3{
    margin-left:2%;
    font-size:15px;
}
#page_Footer img{
  display: none;
}